* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back-home {
    text-align: right;
    margin-bottom: 25px;
}

.back-home a {
    text-decoration: none;
    color:#5a5a5a; 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
}

.back-home a:hover {
    text-decoration: underline;
}

.background {
    background: url("booking_image.jpeg") center/cover no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(3px) brightness(70%);
}

.form-container {
    width: 50%;
    padding: 40px;
    background: linear-gradient(to bottom, #fffafa, #d7bce8);
    backdrop-filter: blur(5px);
    color: #000000;
}

.form-container h1 span {
    color: #9b59b6;
    font-family: 'Courgette', cursive;
    font-style: normal;
    font-weight: lighter;
    font-size: 34px;
}

.form-container h1 {
    font-weight: 600px;
    font-size: 32px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    color:#000000;
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 40px;   
}

.appointment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-group label {
    color: #000000;
    margin-left: 10%;
    margin-bottom: 6px;
    display: block;  
}

.form-group input,
.form-group select {
    width: 80%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #d7bce8;
    background-color: #ffffff;
    outline: none;
    font-size: 14px;
    margin-left: 10%;
    margin-bottom: 8px;
    transition: 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    transform: scale(1.03);
    border-color: #8c49ac;
}

.closing-info {
    color: #5a5a5a;
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.1;
    padding: 20px;
    margin-left: 14px;
}

.booking-btn {
    width: 35%;
    padding: 14px;
    margin: 15px 0 5px 0;
    background: #9b59b6;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease;
}

.booking-btn:hover {
    transform: scale(1.03);
    background: #8c49ac;
}