* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.split-container {
    display: flex;
    height: 100vh;
}

.left-side {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #fffafa, #d7bce8);
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.right-side {
    width: 45%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #fffafa, #d7bce8);
}

.back-home {
    text-align: right;
    margin-right: 10%;
    margin-bottom: 5px;
}

.back-home a {
    text-decoration: none;
    color:#5a5a5a; 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
}

.back-home a:hover {
    text-decoration: underline;
}

.title {
    color: black;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 35px;
    margin-left: 10%;
    margin-top: 5px;
    
}
.title span {
    color: #9b59b6;
    font-family: 'Courgette', cursive;
    font-weight: lighter;
    font-size: 32px;
}

.subtitle {
    color:#000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 20px;
    margin-left: 10%;   
}

.registration-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.registration-form label {
    color: #000000;
    margin-left: 10%;
    margin-bottom: 6px;
}

.registration-form input {
    width: 80%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #d7bce8;
    background-color: #ffffff;
    outline: none;
    font-size: 14px;
    margin-left: 10%;
    margin-bottom:20px;
    transition: 0.3s ease;
}

.registration-form input:focus {
    transform: scale(1.03);
    border-color: #8c49ac;
}

.register-btn {
    width: 80%;
    padding: 14px;
    margin-top: 10px;
    background: #9b59b6;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 10%;
 }

 .register-btn:hover {
    transform: scale(1.03);
    background: #8c49ac;
 }

 .login-text {
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
 }

 .login-text a {
    text-decoration: none;
    color: #9b59b6;
    font-weight: bold;
    font-size: 16px;
 }

 .login-text a:hover {
    text-decoration: underline;
 }